@import '../colors';
@import '../fonts';

.chat__container{
    background-color: $background;
    padding: 40px 20px 40px 20px;
    display:grid;
    grid-template-columns: 2fr 5fr;
    column-gap:20px;
}



.chat__user{
    display:flex;
    align-items: center;
    gap:10px;
    border-radius:10px;
    text-decoration: none;
    margin-bottom: 20px;
    padding:10px;
}

.chat__user--background{
    background-color: $white;
}

.chat__img{
    height:75px;
    width: 75px;
    object-fit: cover;
    border-radius: 70%;
}

.chat__username{
    color: $pinetree;
    font-size: $plaintext;
    font-family: $comfortaa;
}

.chat__window{
    background-color: $white;
    border-radius: 10px;
    padding: 40px 20px 40px 20px;
    border-radius: 10px 10px 0px 0px;
}

.chat__con{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.chat__item{
    display:flex;
    gap:10px;
    flex-direction: row;
}

.chat__item--self{
    flex-direction: row-reverse;
}

.chat__text{
    background-color: $background;
    font-size: $plaintext;
    color: $pinetree;
    font-family: $comfortaa;
    padding: 40px 20px 40px 20px;
    border-radius: 10px;
    width:70%;
}

.chat__text--self{
    background-color : $sapphire;
    color: $white;
}

.popchat__text{
    background-color: $white;
}

.chat__input__container{
    background-color: $dimgray;
    grid-column: 2;
    padding:20px;
    
}

.chat__input{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
    gap:20px;
}

.chat__header__name{
    color: $white;
    font-size: $bigger;
    font-family: $comfortaa;
}

.popchat{
    width:30%; 
    position: fixed;
    z-index: 3;
    bottom: 0;
    right: 15px;
    margin-bottom:20px;
}

.popchat--mini{
    top:75%;
}

.popchat__img{
    width:100px;
    height:100px;
}

.popchat__trigger{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}



.popchat__header{
    background-color: $sapphire;
    display:flex;
    align-items: center;
    gap:10px;
    padding: 5px 10px 5px 10px;
}

.popchat__chat{
    padding: 10px;
    background-color: $background;
    height:350px;
    overflow-x: hidden;
    overflow-y: auto;
}

.popchat__item{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:20px;
}

.popchat__item--self{
    align-items: flex-end;
    
}



.chat__name{
    color: $sapphire;
    font-family: $comfortaa;
    font-size: $bigger;
    margin-bottom:5px;
}

.popchat__window{
    display:none;
    
}