@import '../colors';
@import '../fonts';

.form__container{
    background-color: $background;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    padding:5%;
    margin-top:50px;
    margin-bottom:100px;
    border-radius:10px;
}

form{
    display:flex;
    flex-direction: column;
}

.form__label{
    font-family: $comfortaa;
    color: $sapphire;
    font-size: 16px;
    margin-bottom:10px;
}

.form__input{
    border:none;
    font-size: 16px;
    color: $pinetree;
    border-radius: 10px;
    margin-bottom:20px;
    height:33px;
    padding-left:10px;
    font-family: $mont;
}

.form__btn{
    display:flex;
    justify-content: center;
}

.form__btns{
    display:flex;
    justify-content: center;
    gap:50px;
}

.form__link{
    text-align: center;
    font-family: $comfortaa;
    color:$pinetree;
    margin-top:50px;
}

.link--password{
 margin-top:5px;
 
}

.signup__btns{
    display:flex;
}

.form--search{
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}

.form__input--search{
    margin-bottom:0px;
    width:100%;
}

.form--model{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.form__container--model{
    width:100%;
}

.form__file{
    border:none;
    font-size: 16px;
    color: $pinetree;
    border-radius: 10px;
    margin-bottom:20px;
    height:33px;
    padding-left:10px;
    font-family: $mont;
}

.form__title{
    color: $sapphire;
    font-family: $comfortaa;
    font-size:$bigger;
    margin-bottom:20px;
}

.form__label--model{
    color:$pinetree;
}

.form__double{
    display:flex;
    flex-direction: row;
    gap:10px;
}

.form--webshop{
    width:80%;
}

.form__container--webshop{
    width:100%;
    margin-bottom:0px;
}

.form__input--webshop{
    width:50%;
}

.form__input--number{
    width:20%;
}