@import '../colors';
@import '../fonts';

.profile__container{
    background-color: $background;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding:20px;
    margin-bottom:50px;
    border-radius: 10px;
}

.profile__container--big{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.profile__container--large{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.profile__image{
    width:100px;
    height:100px;
    border-radius: 70%;
    object-fit: cover;
}

.profile__link{
    color: $pinetree;
    font-family: $comfortaa;
    font-size: $bigger;
    text-decoration: none;
    text-align: right;
    border:none;
    background-color: $background;
}

.profile__link:hover{
    cursor: pointer;
}

.logout{
    text-align: center;
    margin-bottom:50px;
    
    
}

.logout__link{
    color: $pinetree;
    font-family: $comfortaa;
    font-size: $bigger;
    
}