@import './colors';
@import './fonts';

.title{
    font-family:$comfortaa;
    color:$sapphire;
    font-size:45px;
    text-align:center;
    padding-top:100px;
}

.subtitle{
    font-family:$comfortaa;
    color:$sapphire;
    font-size:30px;
}