@import './colors';
@import './fonts';

.title{
    font-family:$comfortaa;
    color:$sapphire;
    font-size:45px;
    text-align:center;
    
}

.subtitle{
    font-family:$comfortaa;
    color:$sapphire;
    font-size:30px;
}

.subtitle--middle{
    text-align: center;
}

.title--landing{
    padding-top:100px;
}

.title--left{
    text-align: left;
    margin-bottom:20px;
}