@import 'components/header';
@import 'components/btn';
@import 'components/footer';
@import 'components/landing';
@import 'components/form';
@import 'components/search';
@import 'components/item';
@import 'components/model';
@import 'components/window';
@import 'components/shop';
@import 'components/mand';
@import './colors';
@import './fonts';
@import './titles';

*{
    box-sizing: border-box;
}

body{
    background-color:white;
}

.container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.head{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.back__img{
    width:20%;
}