@import 'components/header';
@import 'components/btn';
@import 'components/footer';
@import 'components/landing';
@import 'components/form';
@import 'components/search';
@import 'components/item';
@import 'components/model';
@import 'components/window';
@import 'components/shop';
@import 'components/mand';
@import 'components/post';
@import 'components/profile';
@import 'components/detail';
@import 'components/verkoper';
@import 'components/order';
@import './colors';
@import './fonts';
@import './titles';

*{
    box-sizing: border-box;
}

body{
    background-color:white;
}

.container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.head{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.back__img{
    width:20%;
}

.community__header_container{
    background-color:$background;
    padding:40px;
}

.community__header{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding:10px;
    align-items: center;
    background-color: $silver;
    border-radius: 10px;
}

.community_header__image{
    width:75px;
    height:75px;
    border-radius: 200px;
    object-fit: cover;
    
}

.sort{
    display:flex;
    justify-content: flex-end;
    margin-bottom:20px;
    align-items: center;
    gap:10px;
}

.cardwheel__container{
    background-color:$silver;
    padding:20px;
    margin-top:20px;
}

.cardwheel{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.cardwheel__btn{
    display:flex;
    justify-content: center;
    margin-top:20px;
}