@import 'components/header';
@import 'components/btn';
@import 'components/footer';
@import 'components/landing';
@import 'components/form';
@import 'components/search';
@import 'components/item';
@import 'components/model';
@import './colors';
@import './fonts';
@import './titles';

*{
    box-sizing: border-box;
}

body{
    background-color:white;
}

.container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.back{
    width:5%;
    margin-top:20px;
}

.back__img{
    width:100%;
}